In [2]:
#Bruno Marra de Melo - 3029

import pandas as pd
import numpy as np
pd.options.display.float_format = "{:.2f}".format

In [3]:
df = pd.read_csv('/code/src/Atividades/atividade5/Dataset.csv', index_col=False, squeeze=True)

#unit price veio como string, realizando a convers√£o para float
df["UnitPrice"] = [x.replace(",", ".") for x in df["UnitPrice"]]
df["UnitPrice"] = df["UnitPrice"].astype(float)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.00,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.00,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.00,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.00,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.00,United Kingdom

In [4]:
#1. Quantos objetos do conjunto de dados possuem o valor do atributo InvoiceNo ausente ou nulo?
pd.isnull(df.InvoiceNo).value_counts()

False    541909
Name: InvoiceNo, dtype: int64

In [5]:
#2. Quantos objetos do conjunto de dados possuem o valor do atributo UnitPrice menor que zero? 
#Apague esses objetos do conjunto de dados.
negative = df[df['UnitPrice'] < 0]
negative

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,8/12/11 14:51,-11062.06,nan,United Kingdom
299984,A563187,B,Adjust bad debt,1,8/12/11 14:52,-11062.06,nan,United Kingdom

In [6]:
df = df.drop(negative.index)
df[df['UnitPrice'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [7]:
#3. Qual o cliente (atributo CustomerId) que comprou mais itens, sendo que cada linha representa um item comprado?
df.groupby('CustomerID')['Quantity'].count().sort_values().tail(1)

CustomerID
17841.00    7983
Name: Quantity, dtype: int64

In [8]:
#4. Qual o produto mais caro vendido?
df.groupby('Description')['UnitPrice'].max().sort_values().tail(1)

Description
Manual   38970.00
Name: UnitPrice, dtype: float64

In [9]:
#5. Quais os pa√≠ses (Country) que fazem parte deste conjunto de dados?
df.groupby('Country')['Country'].count()

Country
Australia                 1259
Austria                    401
Bahrain                     19
Belgium                   2069
Brazil                      32
Canada                     151
Channel Islands            758
Cyprus                     622
Czech Republic              30
Denmark                    389
EIRE                      8196
European Community          61
Finland                    695
France                    8557
Germany                   9495
Greece                     146
Hong Kong                  288
Iceland                    182
Israel                     297
Italy                      803
Japan                      358
Lebanon                     45
Lithuania                   35
Malta                      127
Netherlands               2371
Norway                    1086
Poland                     341
Portugal                  1519
RSA                         58
Saudi Arabia                10
Singapore                  229
Spain                     2533
Sweden                     462
Switzerland               2002
USA                        291
United Arab Emirates        68
United Kingdom          495476
Unspecified                446
Name: Country, dtype: int64

In [10]:
#6. Qual a compra (InvoiceNo) que possui mais itens?
df.groupby('InvoiceNo')['Quantity'].sum().sort_values().tail(1)

InvoiceNo
581483    80995
Name: Quantity, dtype: int64

In [11]:
#7. Qual a compra (InvoiceNo) que tem o maior valor total?
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df.groupby('InvoiceNo')['TotalPrice'].sum().sort_values().tail(1)

InvoiceNo
581483   168469.60
Name: TotalPrice, dtype: float64