In [169]:
import pandas as pd
import numpy as np
import random
import math

In [170]:
numbers = random.sample(range(-1000, 1000), 500)
series = pd.Series(numbers)

print("a) maior: " + str(series.max()) + " | menor: " + str(series.min()))

a) maior: 997 | menor: -986

In [171]:
def valoresPositivos(series):
    return series[series >= 0]

In [172]:
print("b) Valores positivos:")
print(valoresPositivos(series))

b) Valores positivos:
0      992
1      851
2      270
4      546
5      749
6      893
8      413
9      909
10     812
11     713
13     930
14      35
15     624
16     197
21     561
22     605
23     963
25      94
26     946
31     636
32     454
33     162
37     488
38     738
40     612
42     643
43     165
44     641
45     900
47     157
      ...
442    858
443     82
444    727
445    762
447    230
448    954
450    937
451     67
454    938
455    972
457    833
458     79
459    277
461    539
463     29
464    257
466    140
467    220
469    399
473    451
474      2
481    389
483     31
486    298
487    701
492     47
493    352
495    355
497    222
499    518
Length: 259, dtype: int64

In [173]:
def valoresImpares(series):
    return series[series % 2 != 0]

In [174]:
print("c) Valores ímpares:")
print(valoresImpares(series))

c) Valores ímpares:
1      851
5      749
6      893
8      413
9      909
11     713
14      35
16     197
17    -499
19    -877
20    -149
21     561
22     605
23     963
27    -793
28    -969
29    -547
34    -865
35    -459
36    -491
41    -641
42     643
43     165
44     641
46    -791
47     157
51     845
52    -713
58     407
62     677
      ...
433    601
434   -739
436   -259
438   -169
444    727
450    937
451     67
453   -637
456   -223
457    833
458     79
459    277
461    539
463     29
464    257
465   -605
469    399
473    451
475   -757
476   -309
478   -669
480   -945
481    389
482   -153
483     31
485   -635
487    701
492     47
495    355
498   -133
Length: 244, dtype: int64

In [175]:
def valores50a100(series):
    return series[50:101]

In [176]:
print("d) Valores das posições 50 a 100, inclusive:")
print(valores50a100(series))

d) Valores das posições 50 a 100, inclusive:
50     964
51     845
52    -713
53     758
54     870
55    -966
56     700
57      50
58     407
59      -4
60     864
61     166
62     677
63    -982
64    -885
65     478
66       3
67    -747
68    -818
69    -561
70    -242
71     874
72    -766
73    -410
74     904
75     887
76     586
77     232
78     640
79     949
80     226
81    -552
82    -903
83     974
84     662
85     628
86    -152
87     902
88     286
89     956
90     136
91     192
92     285
93     188
94    -154
95    -479
96      86
97    -155
98      38
99     530
100   -803
dtype: int64

In [177]:
def quantidadePares(series):
    return series[series % 2 == 0].size

In [178]:
print("e) A quantidade de valores pares:")
print(quantidadePares(series))

e) A quantidade de valores pares:
256

In [179]:
def maioresQue500(series):
    return series[series > 500].size

In [180]:
print("f) A quantidade de valores maiores que 500:")
print(maioresQue500(series))

f) A quantidade de valores maiores que 500:
127

In [181]:
def maior500menor700(series):
    return series[(series > 500) & (series < 700)]

In [182]:
print("g) Os valores maiores que 500 e menores que 700:")
print(maior500menor700(series))

g) Os valores maiores que 500 e menores que 700:
4      546
15     624
21     561
22     605
31     636
40     612
42     643
44     641
48     620
62     677
76     586
78     640
84     662
85     628
99     530
106    599
124    678
134    618
162    512
182    562
191    626
194    666
215    536
255    604
274    528
286    520
287    657
293    513
302    630
325    519
329    585
343    615
353    683
360    589
376    669
392    594
399    511
429    590
433    601
461    539
499    518
dtype: int64

In [183]:
def raiz(series):
    return pow(series, 0.5)

In [185]:
print("h) A raiz quadrada de todos os valores")
print(raiz(series))

h) A raiz quadrada de todos os valores
0      31.496031
1      29.171904
2      16.431677
3            NaN
4      23.366643
5      27.367864
6      29.883106
7            NaN
8      20.322401
9      30.149627
10     28.495614
11     26.702060
12           NaN
13     30.495901
14      5.916080
15     24.979992
16     14.035669
17           NaN
18           NaN
19           NaN
20           NaN
21     23.685439
22     24.596748
23     31.032241
24           NaN
25      9.695360
26     30.757113
27           NaN
28           NaN
29           NaN
         ...
470          NaN
471          NaN
472          NaN
473    21.236761
474     1.414214
475          NaN
476          NaN
477          NaN
478          NaN
479          NaN
480          NaN
481    19.723083
482          NaN
483     5.567764
484          NaN
485          NaN
486    17.262677
487    26.476405
488          NaN
489          NaN
490          NaN
491          NaN
492     6.855655
493    18.761663
494          NaN
495    18.841444
496          NaN
497    14.899664
498          NaN
499    22.759613
Length: 500, dtype: float64